.title {
  color: #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  height: 40px;
  width: 1300px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #003366;
}

.playButton {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  font-size: 2rem;
  font-weight: bold;
}

.playButton:hover {
  border: 3px solid red;
}

.gameContainer {
  display: flex;
}

.playerDiv {
  display: flex;
  flex-direction: column;
  background-color: #5c7b07;
  width: 400px;
  height: 450px;
  border: 5px solid black;
  margin: 30px;
}

.playerName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 50px;
  background-color: #fff;
}

.playerBoard {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
}

.boardCell {
  border: 1px solid black;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.boardCellDefault {
  background-color: #5c7b07;
}

.boardCellRed {
  background-color: red;
}

.boardCellGrey {
  background-color: grey;
}

.winnerDiv {
  width: 330px;
  height: 70px;
  background-color: yellow;
  font-size: 3rem;
  font-weight: bold;
}

.empty{
  background-color: grey;
}

.ship {
  background-color: red;
}

.sunk {
  border: 2px solid yellow;
}

.shipsContainer {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: 1fr 1fr;
  background-color: #003366;
}

.shipsContainer > input {
  width: 45px;
}

body {
  background-color: #003366;
}
